{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}


{% block content %}
    

    <div style="width: 100%;">
        <h1>Main</h1>
        <p style="margin: 20px 100px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat debitis dolores quidem expedita odit obcaecati consectetur maiores et asperiores nihil. Laborum, aperiam. Voluptatem repudiandae saepe sed aspernatur deserunt atque doloremque!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum, reprehenderit quasi distinctio eligendi nam illo expedita veniam id aliquid quidem, natus, numquam minus animi error earum atque velit. Doloribus?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed iste ratione a commodi nostrum, ea aperiam numquam architecto itaque sunt quae quia perferendis exercitationem possimus deserunt unde laudantium voluptatum? Repudiandae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos, commodi minima iusto, doloribus libero nesciunt nobis laudantium ipsum expedita repudiandae ea architecto est. Repellendus deserunt reiciendis excepturi totam fuga.
        </p>
        <img src="../static/img/горы3.png" style="width: 500px; margin: 0 auto;"alt="">
        <p style="margin: 20px 100px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat debitis dolores quidem expedita odit obcaecati consectetur maiores et asperiores nihil. Laborum, aperiam. Voluptatem repudiandae saepe sed aspernatur deserunt atque doloremque!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum, reprehenderit quasi distinctio eligendi nam illo expedita veniam id aliquid quidem, natus, numquam minus animi error earum atque velit. Doloribus?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed iste ratione a commodi nostrum, ea aperiam numquam architecto itaque sunt quae quia perferendis exercitationem possimus deserunt unde laudantium voluptatum? Repudiandae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum, reprehenderit quasi distinctio eligendi nam illo expedita veniam id aliquid quidem, natus, numquam minus animi error earum atque velit. Doloribus?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed iste ratione a commodi nostrum, ea aperiam numquam architecto itaque sunt quae quia perferendis exercitationem possimus deserunt unde laudantium voluptatum? Repudiandae?
            LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatum, reprehenderit quasi distinctio eligendi nam illo expedita veniam id aliquid quidem, natus, numquam minus animi error earum atque velit. Doloribus?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed iste ratione a commodi nostrum, ea aperiam numquam architecto itaque sunt quae quia perferendis exercitationem possimus deserunt unde laudantium voluptatum? Repudiandae?
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos, commodi minima iusto, doloribus libero nesciunt nobis laudantium ipsum expedita repudiandae ea architecto est. Repellendus deserunt reiciendis excepturi totam fuga.
        </p>
    </div>
{% endblock %}